.Main {
    &__Home {
    height: calc(100vh - 18rem);
    display: flex;
    align-items: center;
    justify-content: center;

        &__card {
            height: 32rem;
            position: relative;
            text-decoration: none;
            color: $zane_text;

            &.pds {
                background: url(../assets/home_pds.svg) no-repeat center / 20rem;
                &:hover {
                    color: #88d3f3;
                }
            }

            &.wrs {
                background: url(../assets/home_wrs.svg) no-repeat center / 20rem;
                &:hover {
                    color: #2baae1;
                }
            }

            &.vce {
                background: url(../assets/home_vce.svg) no-repeat center / 20rem;
                &:hover {
                    color: #0b6386;
                }
            }

            &.pd {
                background: url(../assets/home_pd.svg) no-repeat center / 20rem;
                &:hover {
                    color: #0483b6;
                }
            }

            span {
                position: absolute;
                bottom: 2rem;
                left: 2rem;
            }

            &:hover {
                background-size: 21rem;
                transition: all 0.3s ease-in-out !important;
            }
        }

        .Brochure {
            border-top: solid 0.1rem $zane_blue;
            margin-top: 2rem;
            font-size: 3rem;

            img {
                margin-right: 2rem;
                margin-top: 4rem;
                width: 10rem;
            }

            h1 {
                color: $zane_blue;
                font-size: 5rem;
                margin-top: 3rem;
            }
            a {
                text-decoration: none;
                color: $zane_text;
            }
        }

        .Video {
            height: calc(100vh - 18rem);
            position: absolute;
            right: 0;
            top: 0;
            padding: 0;

            &__player {
            background: url(../assets/video-bg.jpg) no-repeat center / contain;
            height: calc(100vh - 18rem);
            width: 100%;
            position: absolute;
            z-index: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            }

            .background {
                position: absolute;
                height: calc(100vh - 18rem);
                background: $zane_black;
                width: 80%;
                right: 0;
            }
        }
    }
}

@media (max-width: 576px) {

    .Main {
        &__Home {
        height: unset;
        margin-top: 4rem;

            .Video {
                height: unset;
                position: static;
                padding: 0;
                
                &__player {
                    height: unset;
                    position: static;
                    background-size: cover;
                    height: 30rem;
                    }
            
                    .background {
                        height: unset;
                        position: static;
                    }
            }

            &__card {
                height: 22rem;
                background-size: 14rem !important;
                background-position: top center !important;
            }

            .Rws {
                display: flex;
                justify-content: space-around;
            }

            .Brochure {
                border-bottom: solid 0.1rem $zane_blue;
                padding-bottom: 4rem;

                img {
                    width: 6rem;
                }
        
                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1.6rem;
                }
            }
        }
    }
}