.terms {
    background: url(../assets/terms_bg.jpg) no-repeat center center / cover;
}

.Main {
    overflow: hidden;

    &__Terms {
        height: calc(100vh - 18rem);
        display: flex;
        align-items: center;

        &__info {
            color: $zane_white;
            border: solid 0.2rem $zane_blue;
            padding: 4rem;
            padding-top: 8rem;
            position: relative;

            h1 {
                background: $zane_blue;
                color: $zane_white;
                font-size: 6rem;
                position: absolute;
                text-align: center;
                padding: 2rem;
                top:-6rem
            }
        }
    }
}

@media (max-width: 576px) {

    .Main {
        &__Terms {
        height: unset;
        margin-top: 4rem;
        
                &__info {
                    font-size: 1.4rem;
                    h1 {
                        background: $zane_blue;
                        color: $zane_white;
                        font-size: 2rem;
                        position: absolute;
                        text-align: center;
                        padding: 2rem;
                        top:-2rem
                    }
                }
            
        }
    }
}