@import 'variables';
@import 'fonts';
@import 'home';
@import 'pds';
@import 'pd';
@import 'vce';
@import 'resources';
@import 'includes';
@import 'ourstory';
@import 'terms';

html {
    font-size: 10px;
}

.icon {

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../assets/download.svg) no-repeat center center / 6rem;
        transition: all 0.3s ease-in-out;
        opacity: 0;
    }

    &:after {
        content: 'Donwload PDF';
        display: block;
        width: 100%;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        position: absolute;
        font-size: 1.2rem;
        font-weight: 600;
        color: $zane_text;
    }

    &:hover {

        &:after {
            opacity: 1;
            bottom: 0rem;
        }

        &::before {
            opacity: 1;
        }

        img {
            margin-top: -12rem;
        }

        h6 {
            opacity: 0;
        }
    }
}

.Button {
    background: $zane_blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $zane_white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: $zane_blue_dark;
        color: $zane_white;
    }
}

.Header {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    height: 9rem;
    background: $zane_white;

    .Logo {
        background: url(../assets/zane_logo.svg) no-repeat center / contain;
        height: 9rem;
        margin-left: 2rem;
    }

    .Tagline {
        text-align: center;
        color: $zane-blue;

        span {
            font-weight: 400;
            color: $zane_text;
        }
    }

    .Button {
        height: 9rem;
    }
}

main {
    position: relative;
}

.Footer {
    background: $zane_blue;
    color: $zane_white;
    position: fixed;
    bottom: 0;
    left: 0;

    [class*="col"] {
        height: 9rem;
        display:flex;
        align-items: center;
    }

    ul {
        li {
            list-style: none;
            display: inline-block;
            
            a {
                text-decoration: none;
                color: $zane_white;
                margin-left: 2rem;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: $zane_text;
                }
            }
        }
    }

    small {
        padding-right: 2rem;
        font-size: 1.2rem;
    }

    .copy {
        display: flex;
        justify-content: flex-end;
    }
}



@media (max-width: 576px) {
    .Header {
        height: unset;

        .Logo {
            margin-left: 0;
            height: 6rem;
            background-size: 80%;
        }

        .Button {
            height: 6rem;
        }

        .Tagline {
            padding: 1rem 2rem;
            border-top: solid 0.1rem $zane_blue;                

            h1 {
            font-size: 1.4rem;
            }
        }
    }

    .Footer {
        position: static;
        
        [class*="col"] {
            height: unset;
        }

        .nav {
            padding: 1rem 0;
            border-bottom: solid 0.1rem $zane_white;

            ul {
                margin: 0;
            }
        }

        .copy {
            justify-content: center;
            padding: 0.4rem;
        }
    }
}